<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Room</title>
    <script src = "http://localhost:3000/socket.io/socket.io.js"></script>
</head>
<body>
    <!--
        This is where all our rooms are going to go
        This will also help us render out our room.
    -->
    <div id = "roomContainer">
        <% Object.keys(rooms).forEach(room => {%>
            <div><%= room %></div>
            <a href = "/<%= room %>">Join</a>
            <%}) %>
    </div>
    <form action = "/room" method = "POST">
        <input name = "room" type = "text" required>
        <button type = "submit">New Room</button>
    </form>
    <script src = "script.js"></script>
</body>
</html>