ul,li {
    font-size: 16px;
    list-style-type:none;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    width: 500px;
}

ul{
    padding-left: 0;
}

li{
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    padding-left: 0.3em;
    padding-right: 0.1em;
    max-width: 50ch;
    /* resize: horizontal; */
    /* overflow: auto; */
    border: 2px black solid;
    border-radius: 10px;
}

#userList, #chatBody {
   margin: auto;
}

#title {
    /*margin: auto;*/
    text-align: center;
}
#user_input {
    width: 25rem;
    height: 8rem;
}

#userList {
   /* list-style-type: none;
    margin: 0;
    padding: 0;
    
    text-align:end;*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    text-align: center;

    /*width: 25%;
    position: fixed;
    height: 100%;
    overflow: auto;*/
}

#chatBody, #userList {
    display: flex;
    flex-direction: column;

}

#Send{
    background: #333; border: none; padding: 1rem;  border-radius: 9px; outline: none; color: #fff; height: 50px;
}